.faq-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.faq-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.faq-description {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.faq-list ul {
    list-style: none;
    padding: 30px;
    margin: 10px 0;
    border: 1px solid;
}

.faq-list ul li:first-child {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 5px;
}

.faq-list ul li:last-child {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.faq-footer {
    text-align: start;
    margin-top: 30px;
}

.faq-footer h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.faq-footer p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.faq-button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.faq-button:hover {
    background-color: #0056b3;
}

.container5 {
    text-align: center;
    max-width: 900px;
    margin-left: 60px;
}

.articles {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.article {
    width: 45%;
    background: white;
    text-align: left;
}

.article img {
    max-height: 200px;
    width: 400px;
    display: block;
}

.content {
    padding: 15px;
}

.category {
    background: #d4d4d4;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 10px;
}

.time {
    font-size: 14px;
    color: #666;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #444;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f1c40f;
}

.view-all {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    font-size: 16px;
}

.view-all:hover {
    background: black;
    color: white;
}

.image8 {
    max-height: 200px; /* Điều chỉnh theo mong muốn */
    width: auto; /* Giữ nguyên tỷ lệ */
    object-fit: cover; /* Giúp ảnh không bị méo */
    margin-top: -30px;
}

.imageout{
  width: 100%;
  margin-top: 30px;
}

